<article class='blog_comment_message' id='<%= "comment-#{comment.to_param}" %>'>
  <div class='comment_message'>
    <%= image_tag comment.avatar_url, :alt => comment.name, :class => 'avatar' %>
    <%= simple_format auto_link(comment.message.to_s) %>
  </div>
  <footer class='blog_comment_author'>
    <p>
      Por <strong><%= comment.name %></strong> | El <strong><%= l(comment.created_at.to_date, :format => :long)%></strong>
    </p>
  </footer>
</article>
