<article class='blog_comment_message' id='<%= "comment-#{comment.to_param}" %>'>
  <header class='blog_comment_author'>
    <span class="author">
      <%= comment.name %> 
      <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#comment-#{comment.id}"%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </span>
    <span class="date"><%= l(comment.created_at.to_date, :format => :long)%></span>
  </header>
  <div class="comment-message-container">
    <div class='comment_message'>
      <%= simple_format auto_link(comment.body.to_s) %>
    </div>
    
    <div id="response-comment-<%= comment.id%>">
      <% if current_refinery_user %>
        <a href="#" class="show-comment-response" data-comment-id="<%= comment.id%>">Responder este comentario.</a>
      <% end %>
      <a href="#" class="comment-link" data-comment-link="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#comment-#{comment.id}"%>">Copiar link del comentario.</a>
    </div>
    
    <% if current_refinery_user %>
      <%= form_for [refinery, :blog, Comment.new], html: { class: [:hide, 'new_comment'], id: "form-response-comment-#{comment.id}" } do |f| %>
        <div class="form_new_comment">
          <%= render :partial => "/refinery/admin/error_messages",
                     :locals => {
                       :object => f.object,
                       :include_object_name => true
                     } %>
          <div class='field message_field'>
            <%= f.hidden_field :parent_id, value: comment.id %>
            <%= f.hidden_field :user_id, value: current_refinery_user.id %>
            <%= f.text_area :body, placeholder: 'Respuesta al comentario', class: 'span4' %>
          </div>
          <div class='field'>
            <%= f.submit t('submit', :scope => 'refinery.blog.posts.show') %>
          </div>
        </div>
      <% end %>
    <% end %>    
  </div>
  
  <% comment.children.each do |child_comment| %>
    <article class='blog_comment_message child-comment' id='<%= "comment-#{child_comment.to_param}" %>'> 
      <a name="comment-<%= child_comment.id%>"></a>       
      <header class='blog_comment_author'>
        <% if child_comment.user %>
          <span class="author">
            <%= child_comment.user.full_name %>
            <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#comment-#{child_comment.id}"%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </span>
          <span class="date"><%= l(child_comment.created_at.to_date, :format => :long)%></span>
        <% else %>
          <span class="author">
            <%= child_comment.name %>
            <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#comment-#{child_comment.id}"%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </span>
          <span class="date"><%= l(child_comment.created_at.to_date, :format => :long)%></span>
        <% end %>
      </header>
      <div class="comment-message-container">
        <div class='comment_message'>
          <%= simple_format auto_link(child_comment.body.to_s) %>
        </div>
        <a href="#" class="comment-link" data-comment-link="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#comment-#{child_comment.id}"%>">Copiar link del comentario.</a>
      </div>
    </article>
  <% end %>
</article>
