<div class="row home">
  <div class="span12">

    <% if @images.present? %>
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <% @images.each_with_index do |image, index| %>
            <li data-target="#myCarousel" data-slide-to="<%= index %>" <% if index==0 %> class="active" <% end %> ></li>
          <% end %>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @images.each_with_index do |image, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag image.object.url %>
              <% if image.caption.present?%>
                <div class="carousel-caption">
                  <%= image.caption.html_safe %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    <% end %>

    <% if @posts.present? %>
      <div class="row">
        <div class="span12">
          <h2>Ultimas publicaciones</h2>
          <div id="myCarouselPosts" class="carousel slide">
            <ol class="carousel-indicators">
              <% @posts.each_with_index do |post_array, index| %>
                <li data-target="#myCarouselPosts" data-slide-to="<%= index %>"  <% if index==0 %> class="active" <% end %>  ></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @posts.each_with_index do |post_array, index| %>
                <div class="item <%= 'active' if index == 0 %>">
                  <div class="row">
                    <% post_array.each do |post| %>
                      <% if post %>
                        <div class="span4">
                          <h3><%= post.object.title if  post.object %></h3>
                          <p><%= blog_post_teaser(post.object).html_safe %></p>
                          <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post.object) %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @community.present? %>
      <div class="row">
        <div class="span12">
          <h2>Comunidad</h2>
            <div id="myCarouselComunity" class="carousel slide">
              <ol class="carousel-indicators">
                <% @community.each_with_index do |community, index| %>
                  <li data-target="#myCarouselComunity" data-slide-to="<%= index %>"  <% if index==0 %> class="active" <% end %>  ></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% @community.each_with_index do |communities, index| %>
                  <div class="item <%= 'active' if index == 0 %>">
                    <div class="row">
                      <% communities.each do |community| %>
                        <% if community %>
                          <div class="span4">
                            <h3><%= community.object.title %></h3>
                            <p><%= content_teaser(community.object).html_safe %></p>
                            <%= link_to 'Leer más', refinery.experiences_experience_path(community.object) if community.experience? %>
                            <%= link_to "Ver más", refinery.ideas_idea_path(community.object) if community.idea?%>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $('.carousel').carousel();
  </script>
<% end %>