<% if @member.new_record? %>
  <p class='lead text-center'>
    Regisrate usando tus redes sociales .
  </p>

  <p class="text-center">
    <% if current_refinery_user && current_refinery_user.twitter_authentication %>
      <%= image_tag '/assets/twitter-connect.png', class: 'authentication-selected'%>
    <% else %>
      <a href="http://auth.redinnovacion.org/auth/twitter">
        <%= image_tag '/assets/twitter-connect.png'%>
      </a>
    <% end %>

    <% if current_refinery_user && current_refinery_user.facebook_authentication %>
      <%= image_tag '/assets/facebook-connect.png', class: 'authentication-selected'%>
    <% else %>
      <a href="http://auth.redinnovacion.org/auth/facebook">
        <%= image_tag '/assets/facebook-connect.png'%>
      </a>
    <% end %>
  </p>
<% end %>

<% if @member.new_record? %>
  <p class='lead text-center'>
    0 llena el siguiente formulario:
  </p>
<% end %>

<fieldset>
  <% unless @member.new_record? %>
    <legend><%=t('refinery.members.shared.account')%></legend>
  <% end %>
  <ol class="unstyled">
    <li>
      <%= f.required_label 'Nombre' %>
      <%= f.text_field :first_name, class:'required' %>
    </li>
    <li>
      <%= f.required_label 'Apellido' %>
      <%= f.text_field :last_name, class:'required' %>
    </li>
    <li>
      <%= f.required_label 'Nombre de usuario' %>
      <%= f.text_field :username, class:'required' %>
    </li>
    <li>
      <%= f.required_label :email %>
      <%= f.text_field :email, class:'required email' %>
    </li>
    <%= "<li><span class='preview'>#{t('refinery.members.form.blank_password_keeps_current')}</span></li>".html_safe if @member.persisted? %>
    <li>
      <%= f.required_label :password %>
      <%= f.password_field :password, :autocomplete => 'off', class:'required' %>
    </li>
    <li>
      <%= f.required_label :password_confirmation %>
      <%= f.password_field :password_confirmation, :autocomplete => 'off', class:'required' %>
    </li>
    <li>
      <%= f.label 'Pais' %>
      <%= f.country_select :country_code, {priority: %w(AR BO BR CL CO CR EC SV US GT HN MX NI PA PY PE DO UY VE), prompt: 'Seleccione una opción'}, {class:'required'} %>
    </li>
    <li>
      <%= f.label 'Edad' %>
      <%= f.select :age_range, Refinery::Memberships::Member::AGE_RANGES.collect {|age_range| age_range.reverse}, { prompt: 'Seleccione una opción'}, {class:'required'} %>
    </li>
    <li>
      <%= f.label 'Genero' %>
      <%= f.select :gender, ['Femenino','Masculino','Otro'], { prompt: 'Seleccione una opción'}, {class:'required'} %>
    </li>
    <li>
      <label>
        <%= f.check_box :suscribed  %> Inscribirse al boletín mensual
      </label>
    </li>
  </ol>
</fieldset>
<fieldset>
  <% if @member.new_record? %>
    <%= f.label :humanizer_answer, @member.humanizer_question %>
    <%= f.text_field :humanizer_answer %>
    <%= f.hidden_field :humanizer_question_id %>
  <% end %>
</fieldset>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('#new_member').easyValidate();
    });
  </script>
<% end %>