<%= form.hidden_field(:user_id,  current_refinery_user.id) if @post.user_id.nil?%>

<div class="control-group">
  <label class="control-label">Titulo</label>
  <div class="controls">
    <%= form.text_field :title %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Contenido</label>
  <div class="controls">
    <%= form.text_area :body, class: 'tinymce' %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Categorias</label>
  <div class="controls categories">
    <% @categories.each do |category| %>
      <label class="checkbox"><%= check_box_tag 'post[category_ids][]', category.id,  @post.category_ids.include?(category.id) %> <%= category.title %></label>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="button" class="btn">Cancelar</button>
</div>