<div class="row">
  <div class="span6">
    <h1> Experiencias 
      <% if current_refinery_user %>
        <a href="#newExperiences" class="btn btn-warning pull-right" data-toggle="modal">Nueva Experiencia</a>
      <% end %>
    </h1>
    <div id="experiences" class="row">
      <% @experiences.each do |experience| %>
      <div class="span6">
        <div class="experience">
          <header>
            <h2><%= link_to experience.title, refinery.experiences_experience_path(experience) %> </h2>
          </header>
          <aside class='details'>
            <div class="author">
              <span><i class="icon-user"></i><%= "#{experience.user.username.humanize}" if experience.user.present? %></span>
            </div>
            <div class="date">
              <span><i class="icon-calendar"></i><%= l(experience.created_at, :format => :long)%></span>
            </div>
          </aside>
          <section class="summary">
            <p><%= content_teaser(experience).html_safe %></p>
            <%= link_to 'Leer más', refinery.experiences_experience_path(experience) %>
          </section>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <h1> Ideas 
      <% if current_refinery_user %>
        <a href="#newIdea" class="btn btn-warning pull-right" data-toggle="modal">Nueva Idea</a>
        <% end %>
    </h1>
    <div id="ideas">
      <% @ideas.each do |idea| %>
        <div class="span6">
          <div class="idea">
            <header>
              <h2><%= link_to idea.title, refinery.ideas_idea_path(idea) %></h2>
            </header>
            <aside class='details'>
              <div class="author">
                <span><i class="icon-user"></i><%= "#{idea.user.username.humanize}" if idea.user.present? %></span>
              </div>
              <div class="date">
                <span><i class="icon-calendar"></i><%= l(idea.created_at, :format => :long)%></span>
              </div>
            </aside>
            <section class="summary">
              <p><%= content_teaser(idea).html_safe %></p>
              <%= link_to 'Leer más', refinery.ideas_idea_path(idea) %>
            </section>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal hide fade" id="newExperiences">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Nueva Experiencia</h3>
  </div>
  <div class="modal-body">
    <%= form_for @experience, url: refinery.experiences_experiences_path do |form|%>
      <div class="control-group">
        <%= form.label :title, 'Titulo', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :title, placeholder: 'Titulo de tu experiecnia', class: 'input-xlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :content, 'Contenido', class: 'control-label' %>
        <div class="controls">
          <%= form.text_area :content, placeholder: "Contenido de la idea", class: ["tinymce"]%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    <a href="#" class="btn btn-primary" id="crearExperienceButton">Crear Idea</a>
  </div>
</div>

<div class="modal hide fade" id="newIdea">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Nueva Idea</h3>
  </div>
  <div class="modal-body">
    <%= form_for @idea, url: refinery.ideas_ideas_path do |form|%>
      <div class="control-group">
        <%= form.label :title, 'Titulo', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :title, placeholder: 'Titulo de la idea', class: 'input-xlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :content, 'Contenido', class: 'control-label' %>
        <div class="controls">
          <%= form.text_area :content, placeholder: "Contenido de la idea", class: ["tinymce"]%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    <a href="#" class="btn btn-primary" id="crearIdeaButton">Crear Idea</a>
  </div>
</div>