<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<%= form_tag '' do %>

  <div class="actions-container">
    <a href="#" class="btn btn-danger delete-selected-users">Borrar seleccionados</a>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Inscribir seleccionados <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @courses.each do |course| %>
          <li><a class="subscribe-selected-users" href="#" data-course-id="<%= course['name'] %>"><%= course['name'] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="user_check_box"><%= check_box_tag 'id[]', user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Borrar", admin_user_path(user), method: :delete, class: 'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions-container">
    <a href="#" class="btn btn-danger delete-selected-users">Borrar seleccionados</a>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Inscribir seleccionados <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @courses.each do |course| %>
          <li><a class="subscribe-selected-users" href="#" data-course-id="<%= course['name'] %>"><%= course['name'] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>