<%= form_tag '/admin/users', method: :delete do %>
  <button type="submit" class="btn btn-danger">Borrar seleccionados</button>
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="user_check_box"><%= check_box_tag 'id[]', user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Borrar", admin_user_path(user), method: :delete, class: 'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="submit" class="btn btn-danger">Borrar seleccionados</button>
<% end %>