<% content_for :content_header do %>
  Usuarios
<% end %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<%= form_tag '' do %>

  <div class="actions-container">
    <a href="#" class="btn btn-danger delete-selected-users">Borrar seleccionados</a>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="user_check_box"><%= check_box_tag 'id[]', user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Borrar", admin_user_path(user), method: :delete, class: 'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions-container">
    <a href="#" class="btn btn-danger delete-selected-users">Borrar seleccionados</a>
  </div>

<% end %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>