<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>Dashboard - Canvas Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="" />

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">

  <%= stylesheet_link_tag :admin %>

</head>

<body>

  <div id="wrapper">

    <header id="header">

      <h1 id="site-logo">
      </h1>

      <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
        <i class="fa fa-cog"></i>
      </a>

      <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
        <i class="fa fa-reorder"></i>
      </a>

    </header> <!-- header -->


    <nav id="top-bar" class="collapse top-bar-collapse">

      <ul class="nav navbar-nav pull-left">
        <li class="">
          <a href="/admin">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            <i class="fa fa-user"></i>
            <%= current_refinery_user.display_name %>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/members/edit">
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;Editar Perfil
              </a>
            </li>
            <li>
              <a href="/foros/admin">
                <i class="fa fa-cogs"></i>
                Foro Administrador
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to '/refinery/users/logout', method: :delete do %>
                <i class="fa fa-sign-out"></i>
                &nbsp;&nbsp;Logout
              <% end %>
            </li>
          </ul>
        </li>
      </ul>

    </nav> <!-- /#top-bar -->


    <div id="sidebar-wrapper" class="collapse sidebar-collapse">

      <div id="search">
        <form>
          <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

          <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
        </form>
      </div> <!-- #search -->

      <nav id="sidebar">

        <ul id="main-nav" class="open-active">

          <li class="<%= dashboard_active %>">
            <a href="/admin">
              <i class="fa fa-dashboard"></i>
              Dashboard
            </a>
          </li>

          <li class="<%= user_active %>">
            <%= link_to admin_users_path do %>
              <i class="fa fa-file-text"></i> Usuarios
            <% end %>
          </li>

          <li class="dropdown <%= blog_active %>">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              Blog
              <span class="caret"></span>
            </a>

            <ul class="sub-nav">
              <li>
                <%= link_to admin_posts_path do %>
                  <i class="fa fa-location-arrow"></i> Post
                <% end %>
              </li>
              <li>
                <a href="./form-extended.html">
                  <i class="fa fa-magic"></i>
                  Categorias
                </a>
              </li>
            </ul>

          </li>

          <li class="<%= course_active%>">
            <%= link_to admin_courses_path do %>
              <i class="fa fa-desktop"></i>
              Cursos
            <% end %>
          </li>
        </ul>

      </nav> <!-- #sidebar -->

    </div> <!-- /#sidebar-wrapper -->


    <div id="content">

      <div id="content-header">
        <h1><%= yield :content_header %></h1>
      </div> <!-- #content-header -->


      <div id="content-container">
        <%= yield %>
      </div> <!-- /#content-container -->


    </div> <!-- #content -->

  </div> <!-- #wrapper -->

  <footer id="footer">
    <ul class="nav pull-right">
      <li>
        Copyright &copy; 2013, Jumpstart Themes.
      </li>
    </ul>
  </footer>

<%= javascript_include_tag :new_admin %>

</body>
</html>