<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <%= render '/refinery/header' -%>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
       <div class="container">
         <%= render '/refinery/footer' -%>
      </div>
    </footer>
    <%= render '/refinery/javascripts' %>
    <%= tinymce_assets %>
    <%= tinymce :alternate %>
  </body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39536383-1', 'redinnovacion.org');
  ga('send', 'pageview');

</script>